.content-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-main h1 {
  padding: 5px;
}
.content-main p {
  padding: 10px;
}

.my-skills {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.my-skills {
  display: grid;
  margin: 5px 10px 20px 10px;
}

.skills p {
  margin: 0 0 20px;
}

.skills h1 {
  display: flex;
  justify-content: left;
  font-size: 25px;
  margin: 0 10px 5px ;
}

#js {
  background-color: rgb(212,175,55);
  text-align: left;
  width: 600%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 40px;
}

#react {
  background-color: rgb(212,175,55);
  text-align: left;
  width: 450%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 40px;

}#html {
  background-color: rgb(212,175,55);
  text-align: left;
  width: 620%;
    border-top-right-radius: 5px;
  border-bottom-right-radius: 40px;

}#redux {
  background-color: rgb(192,192,192);
  text-align: left;
  width: 200%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 40px;
}

#hooks {
  background-color: rgb(192,192,192);
  text-align: left;
  width: 350%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 40px;
}

#css {
  background-color: rgb(212,175,55);
  text-align: left;
  width: 600%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 40px;
}

#git {
  background-color: rgb(212,175,55);
  text-align: left;
  width: 610%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 40px;
}
#scrun {
  background-color: rgb(192,192,192);
  text-align: left;
  width: 500%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 40px;
}
#kanban {
  background-color: rgb(192,192,192);
  text-align: left;
  width: 450%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 40px;
}
#bootstrap {
  background-color: rgb(192,192,192);
  text-align: left;
  width: 555%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 40px;
}